:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --main: #5DB075;

  --theme-0: #fff;
  --theme-1: #eff2f5;
  /*--theme-0: #eff2f5;*/
  /*--theme-1: #fff;*/
  --theme-2: #d2d2d2;

  --primary: #000;
  --secondary: #969799;
  --tertiary: #808080;
}

:root .dark {
  --theme-0: #121212;
  --theme-1: #212121;
  /*--theme-0: #212121;*/
  /*--theme-1: #121212;*/
  --theme-2: #323232;

  --primary: #dcdcdc;
  --secondary: #969799;
  --tertiary: #808080;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
