:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --primary-color: #5DB075;
  --theme-0: #fff;
  --theme-1: #eff2f5;
  /*--theme-2: #323232;*/


  --primary: #000;
  --secondary: #969799;
  /*--tertiary: #969799;*/


  --background-color-primary: #ebebeb;
  --background-color-secondary: #fafafa;
  --accent-color: #cacaca;
  --text-primary-color: #222;
  --element-size: 4rem;
}

:root .dark {
  --theme-0: #121212;
  --theme-1: #212121;
  --theme-2: #323232;

  --primary: #dcdcdc;
  --secondary: #969799;
  /*--tertiary: #969799;*/

}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}
